<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Project 2 Node JS</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-zinc-900 m-0 p-0">
    <h1 class="text-4xl font-bold text-white bg-zinc-900 text-center mt-6 mb-6">Welcome to Mini Project 2 Node JS</h1>

    <div class="main min-h-screen w-full bg-zinc-900">
      <div class="form p-10 text-white">
        <form action="/create" method="post">
          <input
            name="title"
            class="block w-full rounded outline-none bg-zinc-800 px-5 py-2"
            type="text"
            placeholder="Title"
          />
          <textarea
            name="description"
            class="mt-2 block w-full resize-none rounded outline-none bg-zinc-800 px-5 py-2"
            placeholder="Task Description"
          ></textarea>

          <input class="mt-2 bg-blue-600 px-3 py-2 rounded-md" type="submit" value="Create Task" />

        </form>
      </div>

      <div class="tasks flex gap-3 flex-wrap p-10">
        <% if(files.length>0) { %>
            <% files.forEach((val)=>{ %>
                <div class="task w-72 px-3 py-4 rounded-md bg-zinc-600 flex flex-col">
                    <h1 class="text-white tracking-tighter text-2xl"><%= val %></h1>
                    <a class="mt-3  self-end" href="">Read More....</a>
                </div>
            <% }) %>
        <% } else { %>
            <h3 class="text-zinc-500"> No tasks yet</h3>
        <% } %>
      </div>
    </div>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
